deep-translator
jupyterlab
Keras
keras-self-attention
matplotlib
matplotlib_venn
nltk
numpy
scipy
seaborn
simpletransformers
sklearn
spacy
stop_words
tensorflow_addons
tensorflow-hub
Tensorflow-macos
torch
torchvision
transformers
tqdm
pandas
progressbar
pydot
wordcloud